<section>
    <div class="login">
        <form action="GET" (ngSubmit)="onLogin()">
        <h1>Login</h1>
            <div class="input-box">
            <input type="text" [(ngModel)]="loginObj.Email"  placeholder="username" name="name" required >
            <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
            <input type="password" [(ngModel)]="loginObj.password" placeholder="password" name="name" required>
            <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="remember">
            <label><input type="checkbox" [(ngModel)]="loginObj.remember" />Remember me</label>
            <a href="#">Forgot Password?</a>
            <p>Don't have an account?
                <a href="/register">Register</a>
            </p>
            </div>
        </form>
    </div>
</section>