<section>
    <div class="register">
        <form action="GET" (ngSubmit)="onRegister()">
        <h1>Registration</h1>
            <div class="input-box">
                <div class="input-field">
                    <input type="text" [(ngModel)]="RegObj.Name" placeholder="Full name" required name="name">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-field">
                    <input type="text" [(ngModel)]="RegObj.Username" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="email" [(ngModel)]="RegObj.Email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-field">
                    <input type="text" [(ngModel)]="RegObj.Phone" placeholder="Phone" required>
                    <i class='bx bxs-phone' ></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="text" [(ngModel)]="RegObj.Role" placeholder="Admin/buyer/seller" required>
                    <i class='bx bxs-lock-open-alt' ></i>
                </div>
                <div class="input-field">
                    <input type="text" [(ngModel)]="RegObj.Address" placeholder="Address" required> 
                    <i class='bx bxs-lock-alt' ></i>   
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="password"  placeholder="Password" required>
                    <i class='bx bxs-lock-open-alt' ></i>
                </div>
                <div class="input-field">
                    <input type="password" [(ngModel)]="RegObj.Password" placeholder="Confirm Password" required> 
                    <i class='bx bxs-lock-alt' ></i>   
                </div>
            </div>

            <label><input type="checkbox">I hearby declare that the above information provided by me is true and correct. </label>
            <button type="submit" (click)="onRegister()" class="btn" >Register</button>
        </form>
    </div>
    
</section>
